@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --primary: #6366f1;
  --primary-dark: #4f46e5;
}

body {
  background: var(--background);
  color: var(--foreground);
}
